.resetPwd-maindiv-cnt{
    background-color: rgb(226, 226, 226);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    height: 100vh;
}


.resetPwd-subdiv-cnt{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.resetPwd-span1-cnt{
    font-size: 32px;
    font-family: serif;
}

.resetPwd-div1-cnt{
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}


.resetPwd-input1-cnt{
    border: 1px solid red;
    border-color: red;
    border-radius: 4px;
    padding: 6px 8px;
}



.resetPwd-div2-cnt{
    border: 1px;
    border-color: red;
    border-radius: 2px;
    padding: 3px;
}


.resetPwd-button1-cnt{
    padding: 4px 14px;
    color: white;
    background-color: rgb(10, 198, 255);
    border-radius: 4px;
    font-size: 18px;
    &:hover{
        background-color: gray;
    }
}

.resetPwd-span2-cnt{
    color: red;
    letter-spacing: 1px;
}