.forgetPwd-mainDiv-cnt{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 226, 226);
    height: 100vh;
}

.forgetPwd-subMainDiv-cnt{
    background-color: white;
    border-radius: 8px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.forgetPwd-span1-cnt{
    font-size: 30px;
    font-family: serif;
}

.forgetPwd-div1-cnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.forgetPwd-input1-cnt{
    border: 1px solid red;
    border-radius: 4px;
    padding: 5px;
}


.forgetPwd-span2-cnt{
    font-size: 12px;
    color: red;
}

.forgetPwd-button1-cnt{
    background-color: rgb(46, 189, 255);
    padding: 4px 10px;
    border-radius: 3px;
    color: white;
    &:hover{
        background-color: gray;
    }
}

.forgetPwd-span3-cnt{
    color: red;
    letter-spacing: 2px;
    font-size: 18px;
}